.page {
  font-family: var(--primamy-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

:root {
  --accent-color: #2196f3;
  --first-title-color: #757575;
  --second-title-color: #212121;
  --logo-color: #000000;
  --background-color: #ffffff;
  --background-color-secondary: #2f303a;
  --first-button-color: #188ce8;
  --second-button-color: #ffffff;
  --buttons-bgc: #f5f4fa;
  --portfolio-border-color: #eeeeee;
  --icons-color: #afb1b8;
  --header-bordeer-color: #ececec;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --animation-time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --primamy-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --filter-list-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  --card-set-gap: 30px;
  --card-set-item: 3;
}

.button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.logo {
  display: block;
  color: var(--accent-color);
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}

.logo--header {
  color: var(--logo-color);
}

.logo--footer {
  color: var(--background-color);
}

.button {
  box-shadow: var(--btn-shadow);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--background-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  cursor: pointer;
  letter-spacing: 0.06em;
  transition: background-color var(--animation-time) var(--timing-function);
}

.button:hover, .button:focus {
  background-color: var(--first-button-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social__link {
  color: var(--icons-color);
  transition: color var(--animation-time) var(--timing-function), background-color var(--animation-time) var(--timing-function);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  fill: currentColor;
}

.mob-menu__container {
  padding: 50px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.mob-menu {
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  transition: transform var(--animation-time) var(--timing-function), opacity var(--animation-time) var(--timing-function);
}

.backdrop.is-hidden .mob-menu {
  transform: translate(-50%, -50%) scale(0.8);
}

.is-hidden {
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}

.menu-button {
  margin-left: auto;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition: color var(--animation-time) var(--timing-function);
}

.menu-button:hover, .menu-button:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition: color var(--animation-time) var(--timing-function);
}

.menu-close-btn:hover, .menu-close-btn:focus {
  color: var(--accent-color);
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: color var(--animation-time) var(--timing-function);
}

.mob-menu__link:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__contacts {
  margin-bottom: 66px;
}

.mob-menu__contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 31px;
}

@media screen and (max-width: 479px) {
  .mob-menu__contact-tel {
    font-size: 26px;
  }
}

.mob-menu__contact-email {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}

.mob-social {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: -10px;
  margin-left: -10px;
}

.mob-social__item {
  margin-left: 10px;
  margin-top: 10px;
}

.mob-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: color var(--animation-time) var(--timing-function);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__item:hover, .mob-menu__item:focus {
  color: var(--accent-color);
}

.mob-menu__current {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation-time) var(--timing-function), visibility var(--animation-time) var(--timing-function);
}

.modal {
  background-color: var(--background-color);
  box-shadow: var(--team-shadow);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: trasform var(--animation-time) var(--timing-function), opacity var(--animation-time) var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 100%;
    max-width: 450px;
  }
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  color: var(--logo-color);
  background-color: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__close:focus {
  color: var(--accent-color);
}

.modal__close:hover {
  color: var(--accent-color);
}

.modal__button {
  padding: 10px 55px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__send-button {
  display: flex;
  justify-content: center;
}

.form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .form {
    max-width: 450px;
  }
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
  color: var(--second-title-color);
}

@media screen and (max-width: 1199px) {
  .form__title {
    line-height: calc(30 / 20);
  }
}

@media screen and (min-width: 1200px) {
  .form__title {
    line-height: calc(23 / 20);
  }
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__field:not(:last-child) {
  margin-bottom: 10px;
}

.form__wrapper {
  margin-bottom: 20px;
}

.form__wrap {
  position: relative;
}

.form__text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.check-box {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: var(--background-color);
  border: 2px solid var(--second-title-color);
  border-radius: 4px;
  transition: border-color var(--animation-time) var(--timing-function);
}

.policy:hover + .check-box,
.policy:focus + .check-box {
  border-color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .check-box {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .check-box {
    margin-right: 10px;
  }
}

.policy:checked + .check-box {
  background-image: url(../img/vector-icon.svg);
  background-origin: border-box;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-position: center;
}

.privat-policy__link {
  color: var(--accent-color);
  white-space: nowrap;
}

.check__text {
  color: var(--first-title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  line-height: 1;
}

@media screen and (max-width: 1199px) {
  .check__text {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

@media screen and (min-width: 1200px) {
  .check__text {
    line-height: calc(24 / 14);
  }
}

.form__wrapper {
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  margin: 0;
  padding: 0;
  transition: border-color var(--animation-time) var(--timing-function);
}

.form__input:focus, .form__input:hover {
  border-color: var(--accent-color);
  outline: none;
}

@media screen and (min-width: 1199px) {
  .form__input {
    min-width: 448px;
  }
}

.form__icons {
  position: relative;
}

.form__input-icon {
  position: absolute;
  top: 11px;
  left: 11px;
  color: var(--second-title-color);
}

:focus ~ .form__input-icon,
:hover ~ .form__input-icon {
  color: var(--accent-color);
}

.form__label {
  margin-bottom: 4px;
  transition: border-color var(--animation-time) var(--timing-function);
}

.form__label:focus {
  border-color: var(--accent-color);
}

.form__field-text {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;
}

.form__field-text:focus, .form__field-text:hover {
  outline: none;
  border-color: var(--accent-color);
}

.form__field-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  transition: background-image var(--animation-time) var(--timing-function);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--card-set-gap) * -1);
  margin-left: calc(var(--card-set-gap) * -1);
}

.card-set__item {
  flex-basis: calc(100% / var(--card-set-item) - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--second-title-color);
}

@media screen and (min-width: 480px) {
  .section__title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  .section__title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

.page__header {
  border-bottom: 1px solid var(--header-bordeer-color);
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .page__header .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .page__header .logo {
    margin-right: 88px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .page__header .logo {
    margin-right: 93px;
  }
}

.site-nav__list {
  display: flex;
  color: var(--second-title-color);
}

.site-nav__item:not(:last-child),
.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media (max-width: 767px) {
  .contacts__list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__list {
    flex-direction: column;
    margin-left: auto;
    align-items: flex-start;
  }
}

.site-nav__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--animation-time) var(--timing-function);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

@media (max-width: 767px) {
  .site-nav__link {
    display: none;
  }
}

.site-nav--tablet:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav--tablet {
    display: unset;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item.contacts-list--tablet {
    margin-right: 0;
  }
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
}

.contacts-list__icon {
  margin-right: 10px;
  fill: var(--first-title-color);
}

.hero {
  background-color: var(--background-color-secondary);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-mob-1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-background-mobile-1x.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 118px;
  padding-top: 118px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover, 1600px, auto;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-bg-mob-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-background-mobile-2x.webp);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-bg-tab-1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-background-tablet-1x.webp);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-bg-tab-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-background-tablet-2x.webp);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/background-fon.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-background.webp);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-bg-desk-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-background-2x.webp);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-button-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__btn {
  padding: 10px 32px;
}

.about {
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .about {
    --card-set-item: 1;
  }
}

@media screen and (min-width: 768px) {
  .about {
    --card-set-item: 2;
  }
}

@media screen and (max-width: 1199px) {
  .about {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    --card-set-item: 4;
  }
}

.about__title {
  font-size: 14px;
  text-align: center;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--background-color-secondary);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .about__title {
    text-align: start;
  }
}

.about__bg {
  background-color: var(--buttons-bgc);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .features {
    display: none;
  }
}

.features__item {
  position: relative;
}

.thumb {
  width: 100%;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumb__text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color);
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--second-title-color);
}

.team__item {
  box-shadow: var(--team-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team__worker {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--background-color);
}

.team {
  background-color: var(--buttons-bgc);
}

@media screen and (max-width: 767px) {
  .team {
    --card-set-item: 1;
  }
}

@media screen and (min-width: 768px) {
  .team {
    --card-set-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    --card-set-item: 4;
  }
}

.team__paragraph,
.team__title {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.team__paragraph {
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .clients {
    --card-set-item: 2;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    --card-set-item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    --card-set-item: 6;
  }
}

.clients__link {
  color: var(--icons-color);
  width: 100%;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: color var(--animation-time) var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-secondary);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-direction: unset;
    align-items: baseline;
  }
}

.footer .logo {
  margin-bottom: 20px;
}

.adress {
  font-style: normal;
}

.adress__location {
  color: var(--background-color);
}

.adress__link {
  color: var(--footer-contacts-color);
  transition: color var(--animation-time) var(--timing-function);
}

.adress__link:hover, .adress__link:focus {
  color: var(--background-color);
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (max-width: 1199px) {
  .adress__item {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__cont-item {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__cont-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__cont-item {
    margin-left: auto;
  }
  .footer__cont-item:not(:last-child) {
    margin-right: 70px;
  }
}

.footer__title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
  display: block;
}

.footer__social-link {
  color: var(--background-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation-time) var(--timing-function);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.footer-form__content {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form__content {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer__button-wrapper {
    display: flex;
    justify-content: center;
  }
}

.footer-form {
  width: 100%;
}

.footer__input {
  margin-right: 12px;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow var(--btn-shadow);
  border-radius: 4px;
  background-color: var(--background-color-secondary);
  color: var(--background-color);
  padding: 0 0 0 16px;
  transition: border-color var(--animation-time) var(--timing-function);
}

.footer__input:hover, .footer__input:focus {
  border-color: var(--accent-color);
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 0px 15px 0px;
}

@media screen and (max-width: 1199px) {
  .footer__input {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input {
    margin-right: 12px;
    width: 358px;
  }
}

.footer__submit-button {
  padding: 10px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  box-shadow: var(--btn-shadow);
}

.footer__submit-icon {
  margin-left: 11px;
}

.portfolio__filter-list {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;
}

@media screen and (min-width: 768px) {
  .portfolio__filter-list {
    justify-content: center;
  }
}

.portfolio__button:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  border: none;
  padding: 6px 22px;
  font-family: inherit;
  background-color: var(--buttons-bgc);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 15px;
  margin-left: 8px;
  cursor: pointer;
  transition: background-color var(--animation-time) var(--timing-function), color var(--animation-time) var(--timing-function);
  box-shadow: var(--filter-list-shadow);
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: var(--filter-list-shadow);
}

.portfolio-current-button {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.portfolio__item {
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .portfolio__item {
    --card-set-item: 1;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    --card-set-item: 2;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    --card-set-item: 3;
  }
}

.portfolio__link {
  transition: box-shadow var(--animation-time) var(--timing-function);
}

@media screen and (max-width: 1199px) {
  .portfolio__link {
    display: flex;
    flex-direction: column;
  }
}

.portfolio__link:focus, .portfolio__link:hover,
.portfolio__link:hover .portfolio-overlay,
.portfolio__link:focus .portfolio-overlay {
  box-shadow: var(--portfolio-shadow);
  transform: translateY(0);
  opacity: 1;
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.portfolio-gallery__item {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);
  flex-grow: 1;
}

.portfolio__text {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--first-title-color);
}

.portfolio__images {
  position: relative;
  overflow: hidden;
}

.portfolio__images:hover {
  transform: translateY(0);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation-time) var(--timing-function);
}

.portfolio-overlay:hover, .portfolio-overlay:focus {
  transform: translateY(-100%);
  box-shadow: var(--portfolio-shadow);
}

.portfolio-overlay__text {
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: var(--background-color);
}
/*# sourceMappingURL=main.css.map */