.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--second-title-color);
}
.team__item {
  box-shadow: var(--team-shadow);
  border-radius: 0px 0px 4px 4px;
}
.team__worker {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--background-color);
}
.team {
  background-color: var(--buttons-bgc);
  @media screen and (max-width: 767px) {
    --card-set-item: 1;
  }
  @media screen and (min-width: 768px) {
    --card-set-item: 2;
  }
  @media screen and (min-width: 1200px) {
    --card-set-item: 4;
  }
}
.team__paragraph,
.team__title {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}
.team__paragraph {
  margin-bottom: 16px;
}
