.page {
  font-family: var(--primamy-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
